{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!--wrapper starts-->
    <div id="wrapper"> 
        <!--page_header starts-->
        <div id="page_header">
          <div class="container clearfix">
            <div class="eight columns">
              <h1>Our <strong>Services</strong></h1>
            </div>
            <div class="eight columns">
              <ul class="social">
                <li>
                  <p>LIKE US</p>
                </li>
                <li><a href="https://www.facebook.com/East-Ridge-Family-Dental-234901946564546/" target="_blank"><img src="{% static 'images/icons/facebook.png' %}" alt="icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--page_header ends--> 
            <!--content starts-->
    <div id="content"> 
            
            <!--first row starts-->
            <div class="container clearfix"> 
              
              <!--first column starts-->
              <div class="two-thirds column">
                <ul class="services">
                  <li>
                    <h5>Dental Implants</h5>
                    <img class="servicesicon" src="{% static 'images/icons/icon-services-1.png' %}" width="48" height="48" align="icon">
                    <p>Dental implant is an alternative to dentures. To fill the gap from a missing tooth, we sink a permanent anchor down into the gum and then securely place a beautiful replica (a crown) of the original tooth on top.</p>
                  </li>
                  <li class="omega">
                    <h5>Porcelain Veneers</h5>
                    <img class="servicesicon"  src="{% static 'images/icons/icon-services-2.png' %}" width="48" height="48" align="icon">
                    <p>Placing porcelain veneers on discolored, chipped or uneven teeth is a great way to create a natural beautiful smile. Veneer laminates are long lasting, ultra thin and custom designed to perfectly fit your teeth. </p>
                  </li>
                  <li>
                    <h5>Dental Crowns</h5>
                    <img class="servicesicon"  src="{% static 'images/icons/icon-services-3.png' %}" width="48" height="48" align="icon">
                    <p>Dental Crowns preserve the functionality of damaged teeth. Crowns are used to restore functionality of a tooth with excessive decay, protect a cracked or broken tooth, or replace an existing crown.</p>
                  </li>
                  <li class="omega">
                    <h5>Bridges</h5>
                    <img class="servicesicon"  src="{% static 'images/icons/icon-services-4.png' %}" width="48" height="48" align="icon">
                    <p>Missing teeth used to be a lifelong problem. Now that natural-looking porcelain bridges are an option, we can fill gaps with permanent, beautiful replacement teeth.</p>
                  </li>
                  <li class="beta">
                    <h5>Bonding</h5>
                    <img class="servicesicon"  src="{% static 'images/icons/icon-services-5.png' %}" width="48" height="48" align="icon">
                    <p>Bonding is a quick and painless process that can restore the beauty of your smile through the application of a thin resin over stained, chipped and cracked teeth.</p>
                  </li>
                  <li class="omega beta">
                    <h5>Fillings & Restorations</h5>
                    <img class="servicesicon"  src="{% static 'images/icons/icon-services-6.png' %}" width="48" height="48" align="icon">
                    <p>One of the most basic and aesthetic procedures we perform in our office is to fill cavities with long-lasting tooth-colored materials in lieu of metal alloys.</p>
                  </li>
                </ul>
              </div>
              <!--first column ends--> 
              
              <!--box starts-->
              <div class="box"> 
                
                <!--slider starts-->
                <div class="flexslider image-slider">
                  <ul>
                    <li><img src="{% static 'images/preview/slide-small-1.jpg' %}" alt="image"></li>
                  </ul>
                </div>
                <!--slider ends-->
                
                <div class="divider_thick"></div>
                <h4>Need some dental work done?</h4>
                <p>
                        You should never be afraid to smile. Let us transform your teeth today. Crowns, caps, partials and full dentures are our specialty.                        
                </p>
                <a href="tel:423-629-6015" class="button"><span>Call Today 423-629-6015</span></a>
                <div class="clear"></div>
              </div>
              <!--box ends-->
              
              <div class="divider sixteen columns"></div>
            </div>
            <!--first row ends--> 
            
            <!--second row starts-->
            <div class="container clearfix"> 
            
            <!--first column starts-->
            <div class="eight columns">
                <h2>Payment <strong>Options</strong></h2>
              <p class="text_big">We accept majority of dental insurance and payment plans. For a detailed list of providers, feel free to give us a call. We also accept all major credit cards.</p>
            </div>
            <!--first column ends--> 
            
            <!--second column starts-->
            <div class="eight columns">
              <i class="fa fa-ambulance" style="float:right; margin-right:25px; font-size: 60px;"></i>
              <h2>Emergency <strong>Dental Service</strong> <span>We’re always here for you</span></h2>
              <p>Call anytime for emergency dental services. Whether you’ve chipped a tooth or you are in a lot of pain, feel free to call us right away.</p>
              <a href="tel:423-629-6015" class="link_style">Call 423-629-6015 Now</a> </div>
            <!--second column ends--> 
            
          </div>
          <!--second row ends-->
            
            <div class="clear"></div>
          </div>
          <!--content ends--> 
   
        <div class="clear"></div>
    </div>
    <!--wrapper ends--> 
{% endblock %}