{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!--wrapper starts-->
    <div id="wrapper"> 
        <!--page_header starts-->
        <div id="page_header">
          <div class="container clearfix">
            <div class="eight columns">
              <h1>Our <strong>Services</strong></h1>
            </div>
            <div class="eight columns">
              <ul class="social">
                <li>
                  <p>LIKE US</p>
                </li>
                <li><a href="https://www.facebook.com/East-Ridge-Family-Dental-234901946564546/" target="_blank"><img src="{% static 'images/icons/facebook.png' %}" alt="icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--page_header ends--> 
            <!--content starts-->
    <div id="content"> 
            
            <!--first row starts-->
            <div class="container clearfix"> 
              
              <!--first column starts-->
              <div class="two-thirds column">
                <ul class="services">
                  <li>
                    <h5>Balanced Health and Diet</h5>
                    <img src="{% static 'images/icons/icon-services-1.png' %}" width="48" height="48" align="icon">
                    <p>Phasellus ultrices nulla quis nibh. Donec consectetuer ligula cum soluta nobis eleifend option.</p>
                  </li>
                  <li class="omega">
                    <h5>Physical Therapy and Massage</h5>
                    <img src="{% static 'images/icons/icon-services-2.png' %}" width="48" height="48" align="icon">
                    <p>Lorem ipsum dolor sit diam ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam. </p>
                  </li>
                  <li>
                    <h5>Ayurvedic Experiences</h5>
                    <img src="{% static 'images/icons/icon-services-3.png' %}" width="48" height="48" align="icon">
                    <p>Claritas est etiam dynamicus. Mirum est notare quam littera gothica, formas humanitatis per seacula.</p>
                  </li>
                  <li class="omega">
                    <h5>Yoga and Meditation</h5>
                    <img src="{% static 'images/icons/icon-services-4.png' %}" width="48" height="48" align="icon">
                    <p>Duis autem vel eum iriure dolor in in vulputate velit esse at vero eros et accumsan et iusto odio qui.</p>
                  </li>
                  <li class="beta">
                    <h5>International Experiences</h5>
                    <img src="{% static 'images/icons/icon-services-5.png' %}" width="48" height="48" align="icon">
                    <p>Claritas est etiam processus dynamicus qui sequitur. Mirum est notare quam littera gothica.</p>
                  </li>
                  <li class="omega beta">
                    <h5>Signature Treatments</h5>
                    <img src="{% static 'images/icons/icon-services-6.png' %}" width="48" height="48" align="icon">
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum.</p>
                  </li>
                </ul>
                
                <!--divider here-->
                <div class="divider"></div>
                <h4><strong>We Deliver</strong></h4>
                <ul class="list_bullet one-third column alpha">
                  <li>Unparalleled experience of luxury</li>
                  <li>Relaxation and Rejuvenation</li>
                  <li>Balance between the body and mind. </li>
                </ul>
                <ul class="list_bullet one-third column omega">
                  <li>Holistic natural therapy</li>
                  <li>Beauty and Healing Experiences</li>
                  <li>Ayurvedic and Western Spa Treatments</li>
                </ul>
              </div>
              <!--first column ends--> 
              
              <!--box starts-->
              <div class="box"> 
                
                <!--slider starts-->
                <div class="flexslider image-slider">
                  <ul class="slides">
                    <li><img src="{% static 'images/preview/slide-small-1.jpg' %}" alt="image"></li>
                    <li>
                      <div class="video_wrapper_small">
                        <iframe src="http://player.vimeo.com/video/7449107" width="250" height="170" frameborder="0"></iframe>
                      </div>
                    </li>
                    <li><img src="{% static 'images/preview/slide-small-2.jpg' %}" alt="image"></li>
                  </ul>
                </div>
                <!--slider ends-->
                
                <div class="divider_thick"></div>
                <h4>Complete Wellness & Glitter</h4>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi option congue nihil praesent.</p>
                <a href="#" class="button"><span>Spa Booklet</span></a>
                <div class="clear"></div>
              </div>
              <!--box ends-->
              
              <div class="divider sixteen columns"></div>
            </div>
            <!--first row ends--> 
            
            <!--second row starts-->
            <div class="container clearfix"> 
            
            <!--first column starts-->
            <div class="eight columns">
                <h2>Payment <strong>Options</strong></h2>
              <p class="text_big">We accept majority of dental insurance and payment plans. For a detailed list of providers, feel free to give us a call. We also accept all major credit cards.</p>
            </div>
            <!--first column ends--> 
            
            <!--second column starts-->
            <div class="eight columns">
              <i class="fa fa-ambulance" style="float:right; margin-right:25px; font-size: 60px;"></i>
              <h2>Emergency <strong>Dental Service</strong> <span>We’re always here for you</span></h2>
              <p>Call anytime for emergency dental services. Whether you’ve chipped a tooth or you are in a lot of pain, feel free to call us right away.</p>
              <a href="tel:423-629-6015" class="link_style">Call 423-629-6015 Now</a> </div>
            <!--second column ends--> 
            
          </div>
          <!--second row ends-->
            
            <div class="clear"></div>
          </div>
          <!--content ends--> 
   
        <div class="clear"></div>
    </div>
    <!--wrapper ends--> 
{% endblock %}