{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <!--wrapper starts-->
  <div id="wrapper"> 
    
    <!--slider_wrapper starts-->
    <div id="slider_wrapper">
      <div class="flexslider image-slider-fullwidth">
        <ul class="slides">
          

          
          <!--second slide starts-->
          <li><img src="{% static 'images/preview/team1.jpg' %}" alt="image">
            <div class="flex-caption">
                <h1><strong>Dr. Carruthers</strong> and Team</h1>
              <p>Quality Dental Care for Patients of All Ages</p>
              <div class="clear"></div>
            </div>
          </li>
          <!--second slide ends--> 

          <!--first slide starts-->
          <li><img src="{% static 'images/preview/chattanooga-battlefield.jpg' %}" alt="image">
            <div class="flex-caption">
              <h1><strong>East Ridge</strong> Family Dental</h1>
              <p>Serving all of greater Chattanooga and Northern Georgia</p>
              <div class="clear"></div>
            </div>
          </li>
          <!--first slide ends--> 
          
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--slider_wrapper ends--> 
    
    <!--header_bottom starts-->
    <div id="header_bottom">
      <div class="container clearfix"> 
        
        <!--first column starts-->
        <div class="one-third column">
          <h1><strong>Office</strong> Hours</h1>
          <h4>Flexible office hours for your<br/>
            convinience</h4>
          <p>Mon-Tue-Thu: 8AM-5PM<br/>
              Wed:  8AM-2PM<br/>
              Fri: 8AM-12PM</p></p>
          <a href="tel:423-402-6918">Call 423-629-6015</a> </div>
        <!--first column ends--> 
        
        <!--second column starts-->
        <div class="one-third column">
          <h1><strong>Rated 4.9</strong> <i class="fa fa-star"></i></h1>
          <h4>4.9 of 5 stars as rated by our patients<br/></h4>
          <p>"Love, love, love my dentist!!!! The Christian atmosphere, the great Christian music and the very kind people." - Brenda J.</p>
          <a href="https://www.facebook.com/pg/East-Ridge-Family-Dental-234901946564546/reviews/" target="_blank">Read More</a> </div>
        <!--second column ends--> 
        
        <!--third column starts-->
        <div class="one-third column">
          <h3>Our goal is to provide the highest quality dental care and to do so as painlessly as possible. We strive to treat every patient as if they were a member of our own family.</h3>
          <a href="appointment.html" class="button_yellow">Book an appointment</a> </div>
        <!--third column ends--> 
        
      </div>
    </div>
    <!--header_bottom ends--> 
    
    <!--content starts-->
    <div id="content"> 
      
      <!--first row starts-->
      <div class="container clearfix"> 
        
        <!--first column starts-->
        <div class="four columns">
          <h2>Our <strong>Services</strong> <span>We offer complete services</span></h2>
          <ul class="list_arrow">
            <li>General Dentistry</li>
            <li>Cosmetic Dentistry</li>
            <li>Pediatric Dentistry</li>
            <li>Call Us Today! 423-629-6015</li>
          </ul>
        </div>
        <!--first column ends--> 
        
        <!--second column starts-->
        <div class="four columns">
          <h2>Popular <strong>Treatments</strong> <span>We offer wide variety of treatments</span></h2>
          <p><strong>Cleanings</strong></p>
          <p><strong>Extractions</strong></p>
          <p><strong>Fillings</strong></p>
          <p><strong>Denture & Veneers</strong></p>
          <p>... and many more.</p>
        </div>
        <!--second column ends--> 
        
        <!--third column starts-->
        <div class="eight columns">
          <h2>Proven <strong>Results</strong> <span>Before and after pictures of happy patients</span> </h2>
          
          <!--gallery / carousel starts-->
          <ul id="mycarousel" class="jcarousel-skin-tango">
            <li>
              <div class="thumb"><img src="{% static 'images/preview/thumb-1.jpg' %}" alt="Image"/><a href="{% static 'images/featured-beforeafter1.jpg' %}" data-rel="prettyPhoto[gallery1]" title="" class="zoom zoom_icon"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="{% static 'images/preview/thumb-2.jpg' %}" alt="Image"/><a href="{% static 'images/preview/slide-fractured-tooth.jpg' %}" data-rel="prettyPhoto[gallery1]" title="Fractured tooth AFTER composite build up" class="zoom zoom_icon"></a></div>
            </li>
            <li>
              <div class="thumb"><img src="{% static 'images/preview/thumb-3.jpg' %}" alt="Image"/><a href="{% static 'images/preview/slide-3.jpg' %}" data-rel="prettyPhoto[gallery1]" title="Just look at the amazing difference a professional cleaning by a skilled dental hygienist can make! Yes, these are the same teeth before and after a cleaning done just today by our wonderful hygienist." class="zoom zoom_icon"></a></div>
            </li>
          </ul>
          <!--gallery / carousel ends--> 
          
        </div>
        <!--third column ends--> 
        
        <!--divider here-->
        <div class="divider"></div>
      </div>
      <!--first row ends--> 
      
      <!--second row starts-->
      <div class="container clearfix"> 
        
        <!--first column starts-->
        <div class="eight columns">
            <h2>Payment <strong>Options</strong></h2>
          <p class="text_big">We accept majority of dental insurance and payment plans. For a detailed list of providers, feel free to give us a call. We also accept all major credit cards.</p>
        </div>
        <!--first column ends--> 
        
        <!--second column starts-->
        <div class="eight columns">
          <i class="fa fa-ambulance" style="float:right; margin-right:25px; font-size: 60px;"></i>
          <h2>Emergency <strong>Dental Service</strong> <span>We’re always here for you</span></h2>
          <p>Call anytime for emergency dental services. Whether you’ve chipped a tooth or you are in a lot of pain, feel free to call us right away.</p>
          <a href="tel:423-629-6015" class="link_style">Call 423-629-6015 Now</a> </div>
        <!--second column ends--> 
        
      </div>
      <!--second row ends-->
      <div class="clear"></div>
    </div>
    <!--content ends--> 
    
    <!--footer starts-->
    <div id="footer">
      <div class="container clearfix"> 
        <!--first column starts-->
        <div class="eight columns">
          <h5>About <strong>East Ridge Family Dentistry</strong></h5>
          <p><img alt="Dr. Curtis L. Carruthers, DDS" src="{% static 'images/profile.jpg' %}" style="max-width: 150px; max-height: 150px; float: left; padding-right: 10px;"> If you’re searching for a great dentist for your whole family, East Ridge Family Dental is the answer. We proudly serve all child and adult general and cosmetic dentistry needs. Whether you need a basic dental check-up or an extraction, we’re here for you.
          </p>
          <p>Even if you’ve had a bad dentistry experiences in the past, you’ll feel at ease at our comfortable office environment. We’re a family-oriented dental practice providing quality care for patients of all ages. We specialize in preventative maintenance and restorative dental health care.</p>
        </div>
        <!--first column ends--> 
        <!--second column starts-->
        <div class="eight columns">
          <h5>Patient <strong>Testimonials</strong></h5>
          <ul class="list_testimonial">
            <li><span class="quote">"</span> I wasnt a current patient so i didnt have an appointment, but he got me in and did his best to help me get rid of this toothache. Excellent staff and service! <span> - Carrie B.</span></li>
            <li><span class="quote">"</span> I really didn't believe my 3 yo could make it through an entire cleaning but Monica made it happen through patience and compassion. She showed my scared little boy what each tool did and how the paste smelled long before she actually started working. Later in the evening Cedric told his daddy, "I was scared but then it was fun." He can't wait to go back to the "tooth doctor" <span> - Tammy J.</span></li>
          </ul>
        </div>
        <!--second column ends--> 
      </div>
      <div class="clear"></div>
    </div>
    <!--footer ends-->
    
    <div class="clear"></div>
  </div>
  <!--wrapper ends--> 
  {% endblock %}